body {
    background-color:rgb(227, 192, 255); /* Custom background color */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    background-color:#ff000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color:rgb(0, 0, 0);
  }
  
  input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

  
  button {
    background-color: #5c00f0;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ff0000;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
  }
  .img{
   position: absolute;
   top:115px;

  }
  input[type="text"] {
    border: 3px solid rgb(121, 15, 153);
    border-radius: 3px;
    color: #5c00f0;

}
input[type="date"] {
    border: 3px solid rgb(121, 15, 153);
    border-radius: 3px;
}
  